body{
    background-color: #082032;
    margin: 2% 0 0 7%;
    
}
h3{
    font-family: 'Work Sans', sans-serif;
    color: white;
    opacity: 0.7;
    font-weight: 100;
    margin-left: 5px;
}
.btn-grad{
    background-image: linear-gradient(to right, #FC354C 0%, #0ABFBC  51%, #FC354C  100%);
    font-family: 'Work Sans', sans-serif;
}
.btn-grad {
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border: 0;
    border-radius: 10px;
    display: block;
}
.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
h5{
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 100;
    margin-left: 10px;
}
span{
    font-family: monospace;
    font-size: large;
    font-weight: lighter;
}